$primary: #a331dd;
$secondary: #3e1253;
$clear: rgb(247, 247, 247);

body {
    margin-top: 140px;
    font-family: "Roboto Flex", Arial;
}

.navbar {
    background: $clear !important;
    box-shadow: 0 0 10px $secondary !important;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;

    & .navbar-brand {
        img {
            width: 100px;
        }
    }

    & .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='purple' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    & .navbar-toggler {

        border-color: #8a5ac8;

        &:focus {
            box-shadow: 0 0 0 .25rem rgba(111, 66, 193, 0.5);
        }
    }

    & .nav-link {
        color: $primary !important;
        text-align: center;
    }

}

.headline {
    h1 {
        font-weight: 600;
        font-size: 25px;
    }
}

.apresentacao {
    width: 98%;
    margin-bottom: 20px;

    img {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0 10px #383838;
    }
}

.titulo {
    text-align: center;

    &-letra {
        font-weight: 600;
        font-size: 25px;
    }
}

.video {
    margin: 30px 0;
}

.btn-roxo {
    background-color: #a331dd !important;
    border-color: #a331dd !important;
    color: #FFFFFF !important;

    &:hover {
        background-color: #8a29bc !important;
        border-color: #8a29bc !important;
        color: #FFFFFF !important;
    }
}

#carouselProvaSocial {
    margin-bottom: 3rem;
    border-radius:15px ;
    img {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0 20px #383838;
    }
}


@keyframes pulo-suave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.btn-whatsapp-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-decoration: none;
    animation: pulo-suave 2s ease-in-out infinite;

    &:hover {
        background-color: #128c7e;
        color: #fff;
        transform: scale(1.1);
        animation: none;
        transform: scale(1.1);
        background-color: #128c7e;
        color: #fff;
    }
}

.footer {
    background: $primary;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: #fff;
        font-size: 30px;
    }
}

@media (min-width: 480px) {
    .navbar-nav {
        float: right;
        padding: 20px !important;
        font-size: 15px !important;
    }
}